<h1><%= @cat.name %></h1>

<table>
    <tbody>
        <tr>
            <td>Age</td>
            <td><%= @cat.age %> years old</td>
        </tr>
        
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>
        </tr>
        
        <tr>
            <td>Sex</td>
            <td> 
                <%= "Female" if @cat.sex == "F" %>
                <%= "Male" if @cat.sex == "M" %>
            </td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Rental Requests</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>Start Date</td><td>End Date</td><td>Requester</td><td>Status</td>
        </tr>
        
        <% CatRentalRequest.where(cat_id: @cat.id).order(:start_date).each do |request| %>
            <tr>
                <td>
                    <%= request.start_date %>
                </td>
                <td>
                    <%= request.end_date %>
                </td>
                <td>
                    <%= request.user.user_name %>
                </td>
                <td>
                    <% if request.status == "PENDING" %>
                        <% if Cat.find(params[:id]).owner == current_user %>
                            <form action="/cat_rental_requests/<%= request.id %>/approve" method="GET">
                                <input type="submit" value="Approve">
                            </form>
                            <form action="/cat_rental_requests/<%= request.id %>/deny" method="GET">
                                <input type="submit" value="Deny">
                            </form>
                        <% else %>
                            Pending
                        <% end %>
                    <% elsif request.status == "APPROVED"%>
                        Approved
                    <% else %>
                        Denied
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= @cat.description%>