<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= %>
  </head>

  <body>
    <h1><%= current_user.user_name if current_user%></h1>

    <%= yield %>
    
    <% if current_user %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% elsif ![new_session_url, new_user_url].include?(request.url) %>
      <form action="<%= new_session_url%>" method="GET">
        <input type="submit" value="Login">
      </form>
      <form action="<%= new_user_url %>" method="GET">
        <input type="submit" value="Register">
      </form>
    <% end %>
  </body>
</html>
